@import "colours";
@import "variables";

@mixin orange-outline-button {
	cursor: pointer;
	border-radius: $std-border-radius;
	font-weight: 700;
	border: 1px solid $blue2;
	background-color: $background-tone;
	color: $text-default;
	transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
	// @apply text-sm;
	padding: 8px 16px;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		background-color: $blue2;
		color: $blue2-contrast;
		box-shadow: 0 0 $std-shadow-blur $shadow1;
	}
}

@mixin navy-outline-button {
	cursor: pointer;
	border-radius: $std-border-radius;
	font-weight: 700;
	background-color: $background-tone;
	color: $text-default;
	// @apply border;
	// @apply border-neutral-400;
	transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
	// @apply text-sm;
	padding: 8px 16px;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		background-color: $blue2;
		color: $blue2-contrast;
		box-shadow: 0 0 $std-shadow-blur $shadow1;
	}
}

@mixin neutral-outline-button {
	border-radius: $std-border-radius;
	color: $text-default;
	// @apply border border-neutral-400 text-sm py-2 px-4 font-semibold cursor-pointer text-center flex justify-center items-center h-10 capitalize;
	transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
	text-decoration: none;
	&:hover {
		background-color: $highlight;
		color: $highlight-contrast;
		border-color: $highlight;
		box-shadow: 0 0 $std-shadow-blur $shadow1;
	}
}

@mixin neutral-secondary-outline-button {
	border-radius: $std-border-radius;
	color: $text-default;
	// @apply border border-neutral-400 text-sm py-2 px-4 font-semibold cursor-pointer text-center flex justify-center items-center h-10 capitalize;
	transition: background-color 0.2s linear, color 0.2s linear,
		box-shadow 0.2s linear;
	text-decoration: none;
	&:hover {
		background-color: $blue2;
		color: $blue2-contrast;
		border-color: $blue2;
		box-shadow: 0 0 $std-shadow-blur $shadow1;
	}
}

@mixin electricBlue-fill-button {
	border: 1px solid $highlight;
	background-color: $highlight;
	color: $highlight-contrast;
	// @apply text-sm py-2 px-4 font-semibold cursor-pointer text-center flex justify-center items-center h-10 capitalize;
	border-radius: $std-border-radius;
	transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
	text-decoration: none;
	&:hover {
		background-color: lighten($highlight, 20%);
		box-shadow: 0 0 $std-shadow-blur $shadow1;
	}
}

@mixin navy-fill-button {
	background-color: $blue2;
	color: $blue2-contrast;
	border: 1px solid $blue2;
	// @apply text-sm py-2 px-4 font-semibold cursor-pointer text-center flex justify-center items-center h-10 capitalize;
	border-radius: $std-border-radius;
	transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
	text-decoration: none;
	&:hover {
		background-color: lighten($blue2, 20%);
		color: $blue2-contrast;
		box-shadow: 0 0 $std-shadow-blur $shadow1;
	}
}

@mixin blue-outline-button {
	cursor: pointer;
	border-radius: $std-border-radius;
	font-weight: 700;
	border: 1px solid $blue1;
	background-color: $background-tone;
	color: $text-default;
	transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
	// @apply text-sm;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background-color: $blue1;
		box-shadow: 0 0 $std-shadow-blur $shadow1;
		color: $blue1-contrast;
	}
}

@mixin blue-fill-button {
	cursor: pointer;
	border-radius: $std-border-radius;
	font-weight: 700;
	border: 1px solid $blue1;
	background-color: $blue1;
	color: $blue1-contrast;
	transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
	// @apply text-sm;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background-color: scale-color($blue1, $lightness: 20%);
		box-shadow: 0 0 $std-shadow-blur $shadow1;
		color: $blue1-contrast;
	}
}

@mixin purple-fill-button {
	cursor: pointer;
	border-radius: $std-border-radius;
	font-weight: 700;
	border: 1px solid $purple1;
	background-color: $purple1;
	color: $purple1-contrast;
	transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
	// @apply text-sm;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background-color: scale-color($purple1, $lightness: 20%);
		box-shadow: 0 0 $std-shadow-blur $shadow1;
		color: $purple1-contrast;
	}
}

@mixin electricBlue-fill-button-36 {
	cursor: pointer;
	border-radius: $std-border-radius;
	font-weight: 700;
	background-color: $highlight;
	color: $highlight-contrast;
	transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
	// @apply text-sm;
	padding: 8px 16px;
	text-decoration: none;
	text-transform: capitalize;
	&:hover {
		background-color: lighten($highlight, 20%);
		box-shadow: 0 0 $std-shadow-blur $shadow1;
		color: $highlight-contrast;
	}
}

@mixin orange-fill-button {
	cursor: pointer;
	border-radius: $std-border-radius;
	font-weight: 700;
	border: 1px solid $highlight;
	background-color: $highlight;
	color: $highlight-contrast;
	transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
	// @apply text-sm;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background-color: scale-color($highlight, $lightness: 20%);
		box-shadow: 0 0 $std-shadow-blur $shadow1;
		color: $highlight-contrast;
	}
}

@mixin yellow-fill-button {
	cursor: pointer;
	border-radius: $std-border-radius;
	font-weight: 700;
	border: 1px solid $highlight;
	background-color: $highlight;
	color: $highlight-contrast;
	transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
	// @apply text-sm;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background-color: scale-color($yellow1, $lightness: 20%);
		box-shadow: 0 0 $std-shadow-blur $shadow1;
		color: black;
	}
}

@mixin transparent-button {
	cursor: pointer;
	border-radius: $std-border-radius;
	font-weight: 700;
	color: $text-default;
	transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, filter 0.2s linear;
	// @apply text-sm;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background-color: $yellow1;
		color: $yellow1-contrast;
		filter: brightness(110%);
	}
}

@mixin builder-button {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	letter-spacing: calc(10px / 7);
	box-shadow: 0 3px 1px -2px rgba($foreground-tone, 0.2), 0 2px 2px 0 rgba($foreground-tone, 0.14), 0 1px 5px 0 rgb($foreground-tone, 0.12);
	height: 36px;
	min-width: 64px;
	padding: 0 16px;
	font-weight: 700;

	&::before {
		border-radius: inherit;
		bottom: 0;
		color: inherit;
		content: "";
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		transition: opacity .2s linear;
		background-color: currentColor;
	}

	&:hover {
		&::before {
			opacity: 0.08;
		}
	}

	&.block {
		display: flex;
	}

	&.x-small {
		height: 20px;
		min-width: 36px;
		padding: 0 8.8888888889px
	}

	&.small {
		height: 28px;
		min-width: 50px;
		padding: 0 12.4444444444px
	}

	&.default {
		height: 36px;
		min-width: 64px;
		padding: 0 16px
	}

	&.large {
		height: 44px;
		min-width: 78px;
		padding: 0 19.5555555556px
	}

	&.x-large {
		height: 52px;
		min-width: 92px;
		padding: 0 23.1111111111px
	}
}
