$break-xsmall: 500px;
$break-small: 750px;
$break-medium: 850px;
$break-large: 1030px;
$break-xlarge: 1250px;

$max-content-width: 1270px;
$content-gutters: 10px;
$large-content-gutters: 50px;
$mobile-content-gutters: 20px;

$std-shadow-blur: 4px;
$std-border-radius: 4px;

$font-main: "Work Sans", sans-serif;
$font-blog: "Work Sans", sans-serif;